<div class="card col-md-8 offset-2 mt-4">
    <h2 >Formulario</h2>
    <div class="card-body">
        <form action="/admin/categorias/new" method="POST">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
            
            <label for="slug">Slug</label>
            <input type="text" id="slug" name="slug"  class="form-control">
            
            <label for="descricao">Descricao</label>
            <input type="text" id="descricao" name="descricao"  class="form-control">
            
            <label for="conteudo">Conteudo</label>
            <input type="text" id="conteudo" name="conteudo"  class="form-control">

            
            <label for="conteudo">Conteudo</label>
            <textarea name="conteudo" id="conteudo" cols="30" rows="10" class="form-control"></textarea>
            <button class="btn btn-primary mt-2">Criar Postagens</button>
        </form>


    </div>

</div>  

