{{#each erros}}
    <div class="alert alert-danger row"> {{texto}} </div>

{{else}}

{{/each}}
{{postagens}}
<div class="card col-md-8 offset-2 mt-4">
    <h2 >Slug</h2>
    <div class="card-body">
            <button class="btn btn-primary mt-2">Cadastrar</button>
        </form>
    </div>
</div>  

