<div class="card col-md-8 offset-2 mt-4">
    <h2 >Formulario</h2>
    <div class="card-body">
        <form action="" method="POST">
            <label for="hidden" ></label>
            <label for="nome">Eamil</label>
            <input type="text" id="email" name="email" class="form-control">
            
            <label for="slug">Senha</label>
            <input type="password" id="senha" name="senha"  class="form-control">
            <button class="btn btn-primary mt-2">Logar</button>
        </form>

    </div>

</div>  


