<div class="card col-md-8 offset-2 mt-2">

    <h3 style="text-align: center;">Categorias</h3>
{{#each categorias}}

    <div class="card">
        <a href="/categorias/{{slug}}"><h5>{{nome}}</h5></a>
    </div>
    {{else}}


</div>
{{/each}}  




